:root {
  --base: #FFAFAF;
  --spacing: 10px;
  --blur: 10px;
}

body {
  text-align: center;
  background: #F8F1F1;
  color: #21209C;
  font-size: 30px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-weight: 100;
}

img {
  padding: var(--spacing);
  background: var(--base);
  filter: blur(var(--blur));
  width: 100vh;
}

.js {
  color: var(--base);
}

.controls {
  margin-bottom: 50px;
}

input {
  width: 100px;
}
